<?php
/** @var  Vaimo_Test_Block_Products $this */
$products = $this->getProducts();
$_imgSize = 300;
?>
<div class="test-products-block">
    <div class="buttons-set">
        <button type="button" 
                onclick="testReverse('<?php echo $this->getReverseUrl(); ?>');"
                class="button" 
                title="<?php echo $this->__('Reverse Sort'); ?>" 
                id="reverse-sort">
            <span><span><?php echo $this->__('Reverse Sort'); ?></span></span>
        </button>
    </div>
    <div class="row">
        <?php foreach ($products as $product): ?>
            <div style="float:left">
                <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($product->getName(), null, true) ?>">
                    <?php echo $product->getName() ?>
                    <img id="product-collection-image-<?php echo $product->getId(); ?>"
                         src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>"/>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
</div>
